@import 'tailwindcss';
@import 'tailwind-animations';





@utility corner-top-shape-bevel {
  corner-top-shape: bevel;
}

@theme {
  /* animations */
  --animate-gear: gear 4s linear infinite;

  @keyframes gear {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  --animate-inverted-gear: inverted-gear 4s linear infinite;

  @keyframes inverted-gear {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(-360deg);
    }
  }

  --animate-lever: lever 2.8s ease-in-out infinite;

  @keyframes lever {
    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(4.75rem);
    }
  }
}